<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quinto Elemento</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <h1>Conteúdos Disponíveis</h1>

    <!-- Formulário para adicionar conteúdo -->
    <div class="form-section">
        <h2>Adicionar Nova Vaga</h2>
        <form id="contentForm">
            <input type="text" id="Vaga" placeholder="Vaga" required>
            <input type="text" id="Curso" placeholder="Curso" required>
            <input type="url" id="professor" placeholder="Professor Responsável" required>
            <input type="url" id="n_vagas" placeholder="Número de Vagas" >
            <input type="text" id="creator" value="1" placeholder="Criador Admin = 1" required> 
            <button type="submit">Adicionar Conteúdo</button>
        </form>
    </div>

    <!-- Listagem de conteúdos -->
    <div class="content-list">
        <h2>Lista de Monitoria</h2>
        <table id="contentTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Vaga</th>
                    <th>Curso</th>
                    <th>Professor Responsável</th>
                    <th>Número de Vagas</th>
                    <th>Criador</th>
                </tr>
            </thead>
            <tbody>
                <!-- Conteúdos serão inseridos aqui -->
            </tbody>
        </table>
    </div>

   <script src="script.js"></script>

</body>
</html>