.time {
  color: red;
  font-weight: bold;
}


.md-header__button.md-logo {
  margin: 0;
  padding: 0;
}

.md-header__button.md-logo img,
.md-header__button.md-logo svg {
  height: 2.5rem;
  width: auto;
}

[data-md-color-scheme="default"] {
  --md-primary-fg-color: 	#cccccc	;
  --md-primary-bg-color: #222222;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #14151a;
  --md-primary-bg-color: #ffffff;
}




[data-md-color-scheme="default"] {
  --md-typeset-a-color: #0f2c8b;
  --md-accent-fg-color: #3c5fcf;
}

[data-md-color-scheme="slate"] {
  --md-typeset-a-color: #2141aa;
  --md-accent-fg-color: #2f5cf0;
}



.md-button--primary {
  color: #888888 !important;
}

